[Unit]
Description=uplinkmgr multi-WAN uplink monitor daemon
After=dhcpcd-uplinkmgr.service
Wants=dhcpcd-uplinkmgr.service network.target
Before=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/uplinkmgr --log-clean
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=10s
RuntimeDirectory=uplinkmgr
RuntimeDirectoryMode=0755
RuntimeDirectoryPreserve=true

[Install]
WantedBy=multi-user.target
